ion-content{

    --ion-background-color: white;
}

.home_picture{

    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
         
}

h1,h3{
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.bottom_section{
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
}

ion-button{

    --border-color: #CDBBA7;
    --ion-font-family: 'Roboto', sans-serif;
    --ion-color-primary: black;
    width : 80%;
    height: 35px;
    font-weight: 60;

}

span{
    color: white;
}