<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
  </ion-header>



  <ion-img class="home_picture"  src="assets/book_icon.PNG"></ion-img>
  <h1>Book Crew</h1>
  

<div class="bottom_section">
<ion-button Fill="outline">Sign-up with Email</ion-button>

<p>Or enter with</p>
<ion-button Fill="outline" >
  <ion-icon name="logo-google"></ion-icon>
  <span>c</span>  Log-in with Google
</ion-button>

</div>
</ion-content>
