
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
  </ion-header>

<div class="filler"></div>

  <ion-img  style=" height: 175px;"  src="assets/book_icon.PNG" ></ion-img>
  <h2>Book Crew</h2>

  <div class="filler" style="height: 95px"></div>

<div class="bottom_section">
<ion-button Fill="outline" (click)="openSignin()" >Log-in with Email</ion-button>

 <p>Or enter with</p>
<ion-button Fill="outline" (click)="openLoginGoogle()" >
  <ion-icon name="logo-google"></ion-icon><span>c</span>
   Log-in with Google
</ion-button>

</div>
</ion-content>
