.footer_pages {
    position: fixed;
    padding: 10px 10px 0px 0px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 8%;
    background: #EBE1D2;
    background: #EBE1D2;
    border-top: 1px solid #A39494;
    color:#201D1D;
    right: 2px;
 }
 
 .button_foot{
 
    
    margin-left:7%;
 }
 
 
 